<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Successfully booked hotel.
	  	<br><strong> Check in date & time</strong> : <%= @booking.check_in_date %></br>
			<br><strong>  Check out date & time:</strong> <%= @booking.check_out_date %></br>
			<br><strong> Number of children</strong> : <%= @booking.number_of_children %></br>
			<br><strong> Guest :</strong> <%= @booking.number_of_guest %>
      <br><strong> Room type :</strong> <%= @booking.room_type.room_type %>
    </p>
  </body>
</html>