<br><%= link_to 'Add rooms', new_room_path %> </br>

<h1>Rooms and Room types</h1>
<table>
  <thead>
    <tr>
   
      <th>Room number</th>
      <th>Roomtype</th>
      <th>Description</th>

 
    </tr>
  </thead>

  <tbody>
    <% @room.each do |room| %>
      <tr>
      	<% if room.admin_id == current_admin.id %>
        <td><%= room.room_number %></td>
        <td><%= RoomType.find(room.room_type_select).room_type%></td>
        <td><%= RoomType.find(room.room_type_select).description%></td>
        <td><b> <%= link_to 'Delete room', room_path(room.id), method: :delete %></b></td>
        <% end %>
    <% end %>
  </tbody>
</table>