<h1>New reservation</h1>
<%= form_for :booking, url:{controller: 'booking', action: 'create'} do |f| %>

  <p>
    <%= f.label :number_of_children%>
    <%= f.number_field :number_of_children%>
  </p>
  <p>
    <%= f.label :number_of_guest%>
    <%= f.number_field :number_of_guest%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>